:8080 {
    @private_admin path /_/ /_/* /api/collections/_superusers/*
    respond @private_admin 404

    header {
        -Server
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
    }

    @rule_converter path /api/bolsso/rules/convert
    handle @rule_converter {
        reverse_proxy rule-converter:8080
    }

    handle {
        reverse_proxy pocketbase:8080
    }
}
